html, body {
  width: 100%;
  height: 100%;
  /* background-image: linear-gradient(#42275A, #734B6D); */
  /* background: linear-gradient(to right, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%); */
  background: linear-gradient(to right, #42275A 0%, #734B6D 100%);

}

.App {
  /* background-image: linear-gradient(#42275A, #734B6D); */

}
